body {
    margin: 0;
    font-family: 'Roboto', 'Paprika', 'Inter', 'Lato', 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  code {
    font-family: 'Roboto', 'Paprika', 'Inter', 'Lato', 'Poppins';
  }